$background-color: #282c34;
$primary-color: #3498db;

button {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: $background-color;
  color: $primary-color;
  font-size: 17px;
  cursor: pointer;
  border: $background-color;

  &:hover {
    background-color: lighten($background-color, 10%);
  }
}
