@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

@mixin dropdownButton($bg-colour) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  font-size: fonts.$font-base;
  background-color: $bg-colour;
  border: 0;
}

.dropdownButtonOpen {
  @include dropdownButton(colours.$primary-background-color);

  &:hover {
    background-color: lighten(colours.$primary-background-color, 10%);
  }
}

.dropdownButtonClose {
  @include dropdownButton(colours.$primary-background-color);
}
