@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

@mixin button($bg-colour) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 0.5rem 1rem;
  font-size: fonts.$font-base;
  color: white;
  background-color: $bg-colour;
  border-radius: 0.2rem;
  border: 0;
  cursor: pointer;
}

.primary {
  @include button(colours.$primary-background-color);

  &:hover {
    background-color: lighten(colours.$primary-background-color, 10%);
  }

  &:disabled {
    background-color: colours.$disabled-background-color;
  }
}

.secondary {
  @include button(colours.$secondary-background-color);

  &:hover {
    background-color: darken(colours.$secondary-background-color, 10%);
  }
}
