@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

@media screen and (max-width: 450px) {
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    color: colours.$primary-color;
  }

  .footerInformationContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    font-size: fonts.$font-s;
  }

  .footerInformationItem {
    margin-bottom: 0.5rem;
  }

  .logo {
    width: 20%;
    height: 5rem;
  }
}
