@use "../helpers/colours.scss";

@media screen and (max-width: 450px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    color: colours.$primary-color;
  }
}
