@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  color: colours.$primary-color;
}

.footerInformationContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}

.footerInformationItem {
  margin-bottom: 0.5rem;
  font-size: fonts.$font-s;
}

.footerInformationItem:last-of-type {
  margin-bottom: 0;
}

.logo {
  width: 20%;
  height: 5rem;
}

@media screen and (min-width: 1000px) {
  .footerInformationItem {
    margin-bottom: 1rem;
    font-size: fonts.$font-base;
  }
  .logo {
    width: 5%;
    height: 5%;
  }
}
