@use "../helpers/_colours.scss";

.loader {
  margin-bottom: 2rem;
  width: 48px;
  height: 48px;
  border: 5px solid colours.$primary-background-color;
  border-bottom-color: colours.$secondary-background-color;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//what is keyframes and how does this tyling properl;y work
