@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

.navBar {
  display: flex;
}

.navLink {
  color: colours.$primary-color;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: fonts.$font-l;
  width: 8%;

  &:hover {
    background-color: lighten(colours.$primary-background-color, 10%);
  }
}
