@media screen and (max-width: 450px) {
  .relatedContentItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .relatedContentItemImage {
    width: 100%;
  }

  .relatedContentItemTitle {
    width: 100%;
    background-color: pink;
  }
}
