@use "../helpers/colours.scss";

@media screen and (max-width: 450px) {
  .relatedContentItemContainer {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .linkContainer {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: colours.$primary-color;
  }

  .relatedContentItemImage {
    width: 100%;
  }

  .relatedContentItemTitle {
    width: 100%;
    background-color: rgb(55, 51, 51, 0.3);
    text-align: center;
  }
}
