//placeholder

.titleContainer {
  background-image: url("/assets/policeCar.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
