@media screen and (max-width: 450px) {
  .welcomeMessageContainer {
    background-image: url("/assets/police-car.jpg");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .welcomeMessage {
    color: #fff;
    background-color: rgb(55, 51, 51, 0.7);
    padding: 0.5rem;
  }

  .welcomeMessage:last-child {
    margin-bottom: 0rem;
  }
}

.recentNewsContainer {
  margin-bottom: 1rem;
}

.recentNewsItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.relatedContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
