$primary-font: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$primary-color: #3498db;
$background-color: #282c34;

body {
  font: $primary-font;
  color: $primary-color;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.main {
  padding: 1.5rem;
  max-width: 90%; //sets max-width of screen
  margin: 0 auto; //centers content
}

p {
  max-width: 100%; //inherits width from parent
  word-wrap: break-word; //wraps long pieces of text
}

.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 75px;
  background-color: #282c34;
  margin-bottom: 3%;
  padding: 10px;
  border-bottom: 2px solid #7c8ba8;
  gap: 50px;
}
