@use "../helpers/_colours.scss";
@use "../helpers/_fonts.scss";
@use "../base/_typography.scss";

.mainContainer {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  // grid-template-rows: 1fr 1fr 8fr 1fr;
}
//need to understand why the fr's didn't work...
// :root {
//   height: 100vh;
//   width: 100vw;
// }

.navbarRow {
  background-color: colours.$primary-background-color;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.titleRow,
.navbarRow,
.contentRow,
.footerRow {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
}

.secondColumn {
  padding: 1rem;
}

.footerRow {
  margin-top: 1rem;
  background-color: colours.$primary-background-color;
}

.title {
  margin-bottom: 1rem;
  display: block;
}

@media screen and (min-width: 1100px) {
  .titleRow,
  .navbarRow,
  .contentRow,
  .footerRow {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }

  .secondColumn {
    padding: 0.5rem;
  }

  .navbarRow {
    margin-bottom: 1rem;
  }
}

//Positionings

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.noMarginBottom {
  margin-bottom: 0rem;
}

.noMarginLeft {
  margin-left: 0rem;
}
