@use "../helpers/colours.scss";
@use "../helpers/fonts.scss";

body {
  font-family: fonts.$primary-font;
  color: colours.$primary-color;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: fonts.$font-xxl;
}

h2 {
  margin: 0;
  font-size: fonts.$font-xl;
}

p {
  font-size: fonts.$font-base;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.3rem;
}

.mainContainer {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  // grid-template-rows: 1fr 1fr 8fr 1fr;
}
//need to understand why the fr's didn't work...
// :root {
//   height: 100vh;
//   width: 100vw;
// }

.titleRow,
.navbarRow,
.contentRow,
.footerRow {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.navbarRow {
  background-color: colours.$primary-background-color;
  margin-bottom: 1rem;
}

.footerRow {
  margin-top: 1rem;
  background-color: colours.$primary-background-color;
}

.secondColumn {
  padding: 0.5rem;
}

//Positionings

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .titleRow,
  .navbarRow,
  .contentRow,
  .footerRow {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }

  .navbarRow {
    margin-bottom: 0;
  }

  .secondColumn {
    padding: 1rem;
  }
}
