$primary-font: Helvetica, Verdana, sans-serif;
$primary-color: black;
$primary-background-color: #0d4ac4;

$font-base: 1rem;
$font-s: 0.8rem;
$font-l: 1.5rem;
$font-xl: 1.75rem;
$font-xxl: 2rem;

//each of layout/component/pages scss files imported in one location

//helpers imported wherever
