$primary-font: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$primary-color: #3498db;
// $background-color: #282c34;
//how to pass arounf the background color
//Kept getting an error

body {
  font: $primary-font;
  color: $primary-color;
}

button {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #282c34;
  color: $primary-color;
  font-size: 17px;
}
